@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
</p>
<h2>Movies</h2>
<p></p>
@Html.ActionLink("New Movie", "New", "Movie", null, new { @class = "btn btn-primary" })
<p></p>

    <table id="Movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Movie Name </th>
                <th> Genre </th>
                <th> Delete </th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>

    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#Movies").DataTable({
                ajax: {
                    url: "/API/Movies",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href=' /movies/edit/" + movie.id + "'>" + movie.name + "</a>"
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-customer-id=" + data + "> Delete </button>";
                        }
                    }
                ]

            });
            
           
            $("#Movies .js-delete").on("click", function () {
                var button = $(this);

                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/API/Movies/DeleteMovie?id=" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parent("tr").remove();
                                location.reload();
                            }
                        });
                    }
                })
            });
        });
</script> 
}


